<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
 
 	<!-- START : List All Listener Here -->   
    <listener>
        <listener-class>com.action.SessionListener</listener-class>
    </listener>
    <!-- END : List All Listener Here -->
    
    <!-- START : List All Filters Here -->
    <filter>
        <filter-name>frontFilter</filter-name>
        <filter-class>com.action.RequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>frontFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- END : List All Filters Here -->
    
    <servlet>
        <servlet-name>UploadAction</servlet-name>
        <servlet-class>com.action.UploadAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>com.action.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewProfile</servlet-name>
        <servlet-class>com.action.NewProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileImage</servlet-name>
        <servlet-class>com.action.ProfileImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>com.action.UploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostComment</servlet-name>
        <servlet-class>com.action.PostComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.action.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpgradeRole</servlet-name>
        <servlet-class>com.action.UpgradeRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInfo</servlet-name>
        <servlet-class>com.action.UserInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchReportData</servlet-name>
        <servlet-class>com.action.FetchReportData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchJQGridData</servlet-name>
        <servlet-class>com.action.FetchJQGridData</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>UploadAction</servlet-name>
        <url-pattern>/UploadAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewProfile</servlet-name>
        <url-pattern>/NewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileImage</servlet-name>
        <url-pattern>/ProfileImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/UploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostComment</servlet-name>
        <url-pattern>/PostComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpgradeRole</servlet-name>
        <url-pattern>/UpgradeRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInfo</servlet-name>
        <url-pattern>/UserInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchReportData</servlet-name>
        <url-pattern>/FetchReportData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchJQGridData</servlet-name>
        <url-pattern>/FetchJQGridData</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
</web-app>
